@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

body{
  font-family: 'Kosugi Maru', sans-serif;
  margin: 0px;
}
span.rank{
  &.rank1{
    background-color: #c7ab10;
  }
  &.rank2{
    background-color: #abaaaa;
  }
  &.rank3{
    background-color: #b1725a;
  }
  background-color: green;
}

